@use "sass:math";

// =================================================================
//  Variables
// =================================================================

// --- Spacing ---
$space-xs: 0.25rem; // 4px
$space-s: 0.5rem; // 8px
$space-m: 1rem; // 16px
$space-l: 1.5rem; // 24px
$space-xl: 2rem; // 32px
$space-xxl: 2.5rem; // 40px
$space-xxxl: 3rem; // 48px

// --- Colors ---
$color-text: #F2F2F2;
$color-base: #BDBDBD;
$color-main: #333;
$color-accent: #FBFBFB;
$color-bg: #2C2C2C;

// --- Typography ---
$font-size-base: 16;
$font-family-gothic: "Roboto", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Yu Gothic", Meiryo, sans-serif;
$font-family-mincho: "Times New Roman", Times, "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;

// --- Breakpoints ---
$breakpoints: (
  "tablet": 768px,
  "desktop": 1024px
);


// =================================================================
//  Functions
// =================================================================

// pxをremに変換する
// @param {number} $px-value - px値
// @return {string} - rem値
@function rem($px-value) {
  @return #{math.div($px-value, $font-size-base)}rem;
}

// Figmaのトラッキング値をemに変換する
// @param {number} $xd-value - Figmaのトラッキング値
// @return {string} - em値
@function ls($xd-value) {
  @return #{math.div($xd-value, 100)}em;
}


// =================================================================
//  Mixins
// =================================================================

// メディアクエリ (モバイルファースト)
// @param {string} $breakpoint - $breakpointsのキー
@mixin mq($breakpoint: desktop) {
  @media (width >=map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

// インナー幅の指定
// @param {number} $mw - max-width
// @param {number} $w  - width
@mixin inner($mw: 1170px, $w: 90%) {
  max-width: $mw;
  width: $w;
  margin-left: auto;
  margin-right: auto;
}

@mixin title-main() {
  margin-bottom: rem(60);
  color: $color-base;
  font-size: rem(64);
  font-weight: 300;
  line-height: 1;
}


// =================================================================
//  Common
// =================================================================
body {
  color: $color-main;
  font-size: rem(16);
  font-family: $font-family-gothic;
  line-height: math.div(25, 16);
  letter-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

:focus-visible {
  outline: revert;
  outline-offset: 2px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  padding: rem(30) 0;
  background-color: #fff;

  &__inner {
    @include inner();
    display: grid;
    grid-template-columns: 400fr 770fr;
    align-items: center;
  }
}

.gnav {
  &__list {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    column-gap: percentage(math.div(45, 770));
  }

  &__item {
    font-size: rem(12);
    text-transform: uppercase;
    letter-spacing: ls(20);
  }

  &__link {
    display: block;
    padding: rem(4) rem(15);
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;

    &--active,
    &:hover {
      border-color: $color-main;
    }
  }
}

.main {
  padding-top: rem(100);
}

.footer {
  background-color: $color-bg;

  &__top {
    padding: rem(60) 0;
    color: #fff;

    &-inner {
      @include inner();
      display: grid;
      grid-auto-flow: column;
      column-gap: percentage(math.div(30, 1170));
    }
  }

  &__logo {
    min-width: rem(145);
  }

  &__term {
    margin-bottom: rem(25);
    font-weight: bold;
  }

  &__sns {
    .footer__list {
      display: grid;
      grid-template-columns: repeat(4, rem(20));
      column-gap: percentage(math.div(40, 200));
    }
  }

  &__list {
    li {
      margin-bottom: rem(15);
      font-size: rem(14);
      letter-spacing: ls(3);
    }

    .footer__address {
      margin-bottom: rem(32);
      padding-left: rem(30);
      background: url(../images/icon_address.svg) no-repeat left rem(5);
    }

    .footer__tel {
      margin-bottom: rem(32);
      padding-left: rem(30);
      background: url(../images/icon_tel.svg) no-repeat left rem(5);
    }

    .footer__mail {
      padding-left: rem(30);
      background: url(../images/icon_mail.svg) no-repeat left rem(5);
    }
  }

  &__bottom {
    border-top: 1px solid #fff;
    padding: rem(24) 0;
    text-align: center;

    &-inner {
      @include inner();
    }
  }

  &__copy {
    color: #c8c8c8;
    font-size: rem(12);
    opacity: .5;
  }
}

.btn {
  display: block;
  width: rem(220);
  margin-top: rem(30);
  padding: rem(30);
  background-color: $color-main;
  color: #fff;
  text-align: center;
  font-size: rem(12);
  line-height: 1;
  letter-spacing: ls(20);
  text-transform: uppercase;

  &::after {
    content: "→";
    padding-left: 15px;
  }
}


// =================================================================
//  Index
// =================================================================
.pickup {
  margin-bottom: rem(120);

  &__inner {
    @include inner();
    display: grid;
    grid-template-columns: 400fr 770fr;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__title {
    @include title-main();
    margin-top: auto;
    margin-bottom: rem(90);
    padding-right: rem(30);

    span {
      display: block;
      color: $color-main;
      font-weight: bold;
    }
  }

  &__nav {
    position: relative;
    margin-bottom: rem(90);
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    column-gap: percentage(math.div(20, 400));

    &::after {
      content: "";
      width: calc(100% - percentage(math.div(20, 400)) - rem(100));
      display: block;
      border-bottom: 1px solid $color-text;
      position: absolute;
      bottom: 50%;
      right: 0;
    }

    button {
      width: rem(50);
      height: rem(50);
      border: 1px solid $color-text;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:hover {
        background-color: #f9f9f9;
      }
    }
  }

  &__number {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    color: $color-base;
    font-size: rem(24);
    line-height: 1;

    li:first-child::after {
      content: "";
      display: inline-block;
      width: rem(40);
      margin: 0 rem(20);
      border-bottom: 2px solid;
      transform: translateY(-0.3em) rotate(-45deg);
    }
  }

  &__pic {
    position: relative;
    aspect-ratio: 770/830;
    background: url(../images/pic_main01.png) no-repeat center/cover;
  }

  &__btn {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    color: $color-main;
  }
}

.about {
  margin-bottom: rem(150);

  &__inner {
    @include inner();
    padding: rem(30) rem(70) rem(30) rem(100);
    background-color: $color-accent;
  }

  &__container {
    display: grid;
    grid-template-columns: 570fr 400fr;
    align-items: start;
    container-type: inline-size;
    column-gap: percentage(math.div(30, 1000));
  }

  &__title {
    @include title-main();
    margin-bottom: rem(20);
  }

  &__images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3cqi;
  }

  &__image {
    &--item01 {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    &--item02 {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      margin-bottom: rem(-60);
    }

    &--item03 {
      grid-column: 2 / 3;
      grid-row: 1 / 3;
      margin-top: rem(30);
    }
  }

  &__text {
    font-weight: 300;
  }

  &__btn {
    color: $color-main;
    background-color: #fff;
  }
}

.mission {
  margin-bottom: rem(120);

  &__inner {
    @include inner();
  }

  &__title {
    @include title-main();
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: percentage(math.div(30, 1170));
    align-items: center;
  }

  &__contents {
    display: grid;
    grid-auto-flow: column;
    column-gap: percentage(math.div(30, 570));
    align-items: center;
  }

  &__number {
    color: $color-text;
    font-size: rem(200);
    font-weight: 900;
    line-height: 1;
  }

  &__text {
    font-size: rem(22);
    line-height: math.div(36, 22);
  }
}

.projects {
  margin-bottom: rem(120);

  &__inner {
    @include inner();
  }

  &__title {
    @include title-main();
  }

  &__container {
    container-type: inline-size;

    &--inner {
      display: grid;
      gap: 3cqi;
    }
  }

  &__list {
    display: grid;
    column-gap: 3cqi;

    &--item01 {
      grid-template-columns: 1fr 1fr;
    }

    &--item02 {
      grid-template-columns: 270fr 470fr 370fr;
    }
  }

  &__item {
    position: relative;
  }

  &__info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 percentage(math.div(80, 570));
    background-color: rgba(51, 51, 51, .8);
    opacity: 0;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--active,
    &:hover {
      opacity: 1;
    }
  }

  &__name {
    font-size: rem(64);
    font-weight: 700;
    line-height: 1;
  }

  &__link {
    display: block;
    margin-top: rem(15);
    font-size: rem(12);
    line-height: 1;
    letter-spacing: ls(20);
    text-transform: uppercase;

    &::after {
      content: "→";
      padding-left: 15px;
    }
  }

  &__btn {
    margin-left: auto;
  }
}

.contact {
  margin-bottom: rem(120);

  &__inner {
    @include inner ();
  }

  &__title {
    @include title-main();
    margin-bottom: rem(20);
  }

  &__pic {
    background: url(../images/pic_contact01.png) no-repeat center/cover;
  }

  &__form {
    display: grid;
    grid-template-columns: 390fr 750fr;
    column-gap: percentage(math.div(30, 1170));
  }

  &__list {
    display: grid;
    row-gap: rem(10);
    color: #8d8d8d;
    font-size: rem(14);
    letter-spacing: ls(4);

    input,
    textarea {
      width: 100%;
      padding: rem(15) rem(20);
      background-color: #f3f3f3;
      font-size: rem(14);
    }
  }

  &__item {
    position: relative;
    display: block;

    &:has(:focus),
    &:has(input:not(:placeholder-shown), textarea:not(:placeholder-shown)) {
      .contact__label {
        display: none;
      }
    }

    &:has(:required) {
      .contact__label::after {
        content: "*";
        color: #C30000;
      }
    }
  }

  &__label {
    position: absolute;
    top: rem(15);
    left: rem(20);
    pointer-events: none; //マウスに反応させない
  }

  &__btn {
    margin-top: rem(77);
  }
}
