<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>vue.js</title>
  <style>
    [v-cloak] {
      display: none;
    }

    .loading {
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

  </style>
</head>
<body>
  <div id="app" v-cloak>
    <div class="post" v-if="showPost">
      <template v-for="item of allPost">
        <h2><a :href="`works.html?id=${item.id}`">{{ item.name }}</a></h2>
      </template>
      <div class="pagenav">
        <button v-if="navPrevious" @click="pageSet(-1)">前の作品へ</button>
        <button v-if="navNext" @click="pageSet(1)">次の作品へ</button>
      </div>
    </div>
    <div class="loading" v-else>
      <p><img src="https://www.benricho.org/loading_images/img-svg/default-gray.svg" width="100" alt=""></p>
    </div>
  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script>
    let count = 0;
    const limit = 2;
    const key = "uRE1clQmStFnKwELIcIyNriTmYvx8GOS3w7H";
    const url = "https://takagico.microcms.io/api/v1/member/";
    let params, query, path;

    const setPath = () => {
      params = {
        fields: "id,name,age",
        limit: limit,
        offset: count * limit
      };
      query = new URLSearchParams(params);
      path = `${url}?${query}`;
    };

    const app = Vue.createApp({
      setup() {
        const allPost = Vue.ref([]);
        const showPost = Vue.ref(false);
        const navPrevious = Vue.ref(false);
        const navNext = Vue.ref(true);

        Vue.onMounted(() => {
          setPath();

          fetch(path, {
            headers: {
              "X-MICROCMS-API-KEY": key
            }
          })
            .then(res => res.json())
            .then(json => {
              allPost.value = json.contents;

              if (allPost.value) {
                showPost.value = true;
              }
            })
        });

        const pageSet = (num) => {
          showPost.value = false;
          count += num;
          setPath();

          fetch(path, {
            headers: {
              "X-MICROCMS-API-KEY": key
            }
          })
            .then(res => res.json())
            .then(json => {
              allPost.value = json.contents;

              if (allPost.value) {
                showPost.value = true;
              }

              if (count > 0) {
                navPrevious.value = true;
              } else {
                navPrevious.value = false;
              };

              if (allPost.value.length < limit) {
                navNext.value = false;
              } else {
                navNext.value = true;
              };
            })
        };

        return {
          allPost,
          showPost,
          navPrevious,
          navNext,
          pageSet
        }
      }
    });

    app.mount("#app");
  </script>
</body>
</html>
