@charset "utf-8";

body {
  margin: 0;
}

h1 {
  margin-top: 60px;
  margin-bottom: 40px;
  text-align: center;
}

h2 {
  margin-top: 80px;
  margin-bottom: 40px;
  /* 省略する場合は margin: 80px 0 40px; */
  color: #000000;
  font-size: 48px;
  font-weight: normal;
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-align: center;
}

p {
  color: #000000;
  font-size: 16px;
  /* ブラウザのディフォルトは16pxなので書く必要なし */
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5;
  /* 行の高さ / フォントサイズ */
  letter-spacing: 0;
  /* 文字間 / 1000 + em */
  /* 値が0の場合は単位が省略できる */
  text-align: center;
}

ul {
  padding-left: 0;
  /* ぽっちを消したらパディングも消す（セットで覚える）*/
  list-style-type: none;
}

li {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
  /* solid:直線、dashed:破線、dotted:点線 */

  color: #000000;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5;
  letter-spacing: 0;
}

.wrapper {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.voice {
  padding: 50px;
  background-color: #f5f5f5;
}

.info {
  font-size: 12px;
  text-align: right;
}

.copy {
  margin-top: 80px;
  margin-bottom: 80px;
  /* 省略する場合は margin: 80px 0; */
  font-size: 12px;
  font-weight: bold;
}
