@charset "utf-8";

body {
    color: #000;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    letter-spacing: 0;
}

h2 {
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.2em;
    /* 200 ➗ 1000 */
    text-align: center;
}

h2 span {
    color: #f00;
}

header {
    margin: 50px 0;
}

footer {
    padding: 60px 0;
    color: #fff;
    background-color: #000;
}

.copyright {
    text-align: right;
}

.copyright small {
    font-size: 14px;
}

.inner {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.mainvisual {
    margin-bottom: 60px;
    padding: 155px 0;
    color: #fff;
    text-align: center;
    background-image: url(./images/bg_mv.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background: #000 url(./images/bg_mv.png) no-repeat center / cover;
}

/* margin: autoが効くので、ボタンだけを右等に揃えることができる */
/* .mainvisual a {
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0;
    font-weight: bold;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background-color: #f00;
    text-align: center;
} */

/*　テキストの長さに応じてボタンの幅を変えたい時(widthがなくても良いから) */
.mainvisual a {
    display: inline-block;
    width: 200px;
    padding: 20px;
    font-weight: bold;
    letter-spacing: 0.2em;
    background-color: #f00;
}

.mainvisual dl {
    margin-bottom: 60px;
    font-weight: bold;
}

.mainvisual dt {
    margin-bottom: 20px;
    font-size: 48px;
    line-height: 1.1;
    letter-spacing: 0.2em;
}

.mainvisual dd {
    font-size: 18px;
    letter-spacing: 0.2em;
}

.rooms {
    margin-bottom: 60px;
}

.rooms img {
    display: block;
    margin: 0 auto 60px;
}

.rooms li {
    margin-bottom: 10px;
    padding-left: 36px;
    padding-top: 2px;
    padding-bottom: 5px;
    background: url(./images/ico_check.png) no-repeat left top;
}

.testimonials {
    padding: 80px 0;
    background: url(./images/bg_testimonials.png) no-repeat center / cover;
    text-align: center;
}

/* .testimonials .inner {
    padding: 50px;
    background-color: #fff;
} */

.testimonials .contents {
    padding: 50px;
    background: #fff url(./images/bg_logo.png) no-repeat right 35px bottom 35px;
}

.testimonials .voice {
    margin: 35px 0 50px;
    font-size: 18px;
    font-style: italic;
}