@charset "UTF-8";
body {
  color: #333;
  font-size: 1rem;
  font-family: "Roboto", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Yu Gothic", Meiryo, sans-serif;
  line-height: 1.5625;
  letter-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

:focus-visible {
  outline: revert;
  outline-offset: 2px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  padding: 1.875rem 0;
  background-color: #fff;
}
.header__inner {
  max-width: 1170px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 400fr 770fr;
  align-items: center;
}

.gnav__list {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  -moz-column-gap: 5.8441558442%;
       column-gap: 5.8441558442%;
}
.gnav__item {
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.gnav__link {
  display: block;
  padding: 0.25rem 0.9375rem;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.gnav__link--active, .gnav__link:hover {
  border-color: #333;
}

.main {
  padding-top: 6.25rem;
}

.btn {
  display: block;
  width: 13.75rem;
  margin-top: 1.875rem;
  padding: 1.875rem;
  background-color: #333;
  color: #fff;
  text-align: center;
  font-size: 0.75rem;
  line-height: 1;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.btn::after {
  content: "→";
  padding-left: 15px;
}

.about {
  margin-bottom: 9.375rem;
}
.about__inner {
  max-width: 1170px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 1.875rem 4.375rem 1.875rem 6.25rem;
  background-color: #FBFBFB;
}
.about__container {
  display: grid;
  grid-template-columns: 570fr 400fr;
  align-items: start;
  container-type: inline-size;
  -moz-column-gap: 3%;
       column-gap: 3%;
}
.about__title {
  margin-bottom: 3.75rem;
  color: #BDBDBD;
  font-size: 4rem;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 1.25rem;
}
.about__images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3cqi;
}
.about__image--item01 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.about__image--item02 {
  grid-column: 1/2;
  grid-row: 2/3;
  margin-bottom: -3.75rem;
}
.about__image--item03 {
  grid-column: 2/3;
  grid-row: 1/3;
  margin-top: 1.875rem;
}
.about__text {
  font-weight: 300;
}
.about__btn {
  color: #333;
  background-color: #fff;
}

.mission {
  margin-bottom: 120px;
}
.mission__inner {
  max-width: 1170px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.mission__title {
  margin-bottom: 3.75rem;
  color: #BDBDBD;
  font-size: 4rem;
  font-weight: 300;
  line-height: 1;
}
.mission__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 2.5641025641%;
       column-gap: 2.5641025641%;
  align-items: center;
}
.mission__contents {
  display: grid;
  grid-auto-flow: column;
  -moz-column-gap: 5.2631578947%;
       column-gap: 5.2631578947%;
  align-items: center;
}
.mission__number {
  color: #F2F2F2;
  font-size: 12.5rem;
  font-weight: 900;
  line-height: 1;
}
.mission__text {
  font-size: 1.375rem;
  line-height: 1.6363636364;
}

.projects__inner {
  max-width: 1170px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.projects__title {
  margin-bottom: 3.75rem;
  color: #BDBDBD;
  font-size: 4rem;
  font-weight: 300;
  line-height: 1;
}
.projects__container {
  container-type: inline-size;
}
.projects__container--inner {
  display: grid;
  gap: 3cqi;
}
.projects__list {
  display: grid;
  -moz-column-gap: 3cqi;
       column-gap: 3cqi;
}
.projects__list--item01 {
  grid-template-columns: 1fr 1fr;
}
.projects__list--item02 {
  grid-template-columns: 270fr 470fr 370fr;
}
.projects__item {
  position: relative;
}
.projects__info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 14.0350877193%;
  background-color: rgba(51, 51, 51, 0.8);
  opacity: 0;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.projects__info--active, .projects__info:hover {
  opacity: 1;
}
.projects__name {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
}
.projects__link {
  display: block;
  margin-top: 0.9375rem;
  font-size: 0.75rem;
  line-height: 1;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.projects__link::after {
  content: "→";
  padding-left: 15px;
}
.projects__btn {
  margin-left: auto;
}

.contact__inner {
  max-width: 1170px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.contact__title {
  margin-bottom: 3.75rem;
  color: #BDBDBD;
  font-size: 4rem;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 1.25rem;
}
/*# sourceMappingURL=style.css.map */