@charset "utf-8";

body {
    color: #404040;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.5;
    letter-spacing: 0.1em;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

h2 {
    margin-bottom: 40px;
    padding-bottom: 15px;
    border-bottom: 1px solid #DDDDDD;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;
}

.inner {
    width: 87.5%;
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
}

header {
    margin: 40px 0;
}

header .inner {
    display: grid;
    align-items: center;
    row-gap: 30px;
    text-align: center;
}

.gnav ul {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.gnav a {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.gnav .active {
    color: #ff6767;
}

footer {
    padding: 45px 0;
    background-color: #EDEFF2;
    text-align: center;
}

footer small {
    font-size: 12px;
    font-weight: bold;
    line-height: 1.2;
}

.mainvisual {
    margin-bottom: 80px;
    padding: 400px 0 100px;
    background: url(./images/bg_main.png) no-repeat center/cover;
    color: #fff;
    text-align: right;
}

.mainvisual .lead {
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: bold;
}

.mainvisual p {
    font-size: 18px;
    line-height: 1.2;
}

.mainvisual span {
    color: #ff6767;
}

.services {
    margin-bottom: 80px;
}

.services .posts {
    display: grid;
    gap: 60px 40px;
}

.services article {
    display: grid;
    grid-template-columns: 240fr 280fr;
    align-items: center;
    gap: 30px 40px;
}

.services h3 {
    margin-bottom: 20px;
    padding-left: 10px;
    border-left: 3px solid #ff6767;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.2;
}

.information {
    margin-bottom: 80px;
}

.information .group {
    display: grid;
    gap: 40px;
}

.information ul {
    display: grid;
    row-gap: 20px;
}

@media (640px < width) {
    header .inner {
        grid-auto-flow: column;
        justify-content: space-between;
    }

    .services .posts {
        grid-template-columns: 1fr 1fr;
    }

    .services article {
        grid-template-columns: 1fr;
    }

    .information .group {
        grid-template-columns: 500fr 300fr;
        align-items: end;
    }
}