<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Json</title>
    <style>
        #circle {
            width: 100px;
            height: 100px;
            border: 1px solid;
            border-radius: 50%;
        }
    </style>
</head>

<body>
    <p id="value">0</p>
    <div id="circle"></div>

    <!-- socket.io CDN -->
    <script src="https://cdn.socket.io/4.4.0/socket.io.min.js"
        integrity="sha384-1fOn6VtTq3PWwfsOrk45LnYcGosJwzMHv+Xh/Jx5303FVOXzEnw0EpLv30mtjmlj"
        crossorigin="anonymous"></script>

    <script>
        const socket = io();
        const p = document.querySelector("#value");
        const c = document.querySelector("#circle");

        socket.on('button_value', recieve => {
            p.textContent = JSON.stringify(recieve);
            c.style.backgroundColor = recieve.color;
            c.style.width = `${recieve.radius}px`;
            c.style.height = `${recieve.radius}px`;
        });
    </script>
</body>

</html>