@charset "UTF-8";
body {
  color: #333;
  font-size: 1rem;
  font-family: "Roboto", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Yu Gothic", Meiryo, sans-serif;
  line-height: 1.5625;
  letter-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

:focus-visible {
  outline: revert;
  outline-offset: 2px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  padding: 1.875rem 0;
  background-color: #fff;
}
.header__inner {
  max-width: 1170px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 400fr 770fr;
  align-items: center;
}

.gnav__list {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  -moz-column-gap: 5.8441558442%;
       column-gap: 5.8441558442%;
}
.gnav__item {
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.gnav__link {
  display: block;
  padding: 0.25rem 0.9375rem;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.gnav__link--active, .gnav__link:hover {
  border-color: #333;
}

.main {
  padding-top: 6.25rem;
}

.footer {
  background-color: #2C2C2C;
}
.footer__top {
  padding: 3.75rem 0;
  color: #fff;
}
.footer__top-inner {
  max-width: 1170px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-auto-flow: column;
  -moz-column-gap: 2.5641025641%;
       column-gap: 2.5641025641%;
}
.footer__logo {
  min-width: 9.0625rem;
}
.footer__term {
  margin-bottom: 1.5625rem;
  font-weight: bold;
}
.footer__sns .footer__list {
  display: grid;
  grid-template-columns: repeat(4, 1.25rem);
  -moz-column-gap: 20%;
       column-gap: 20%;
}
.footer__list li {
  margin-bottom: 0.9375rem;
  font-size: 0.875rem;
  letter-spacing: 0.03em;
}
.footer__list .footer__address {
  margin-bottom: 2rem;
  padding-left: 1.875rem;
  background: url(../images/icon_address.svg) no-repeat left 0.3125rem;
}
.footer__list .footer__tel {
  margin-bottom: 2rem;
  padding-left: 1.875rem;
  background: url(../images/icon_tel.svg) no-repeat left 0.3125rem;
}
.footer__list .footer__mail {
  padding-left: 1.875rem;
  background: url(../images/icon_mail.svg) no-repeat left 0.3125rem;
}
.footer__bottom {
  border-top: 1px solid #fff;
  padding: 1.5rem 0;
  text-align: center;
}
.footer__bottom-inner {
  max-width: 1170px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.footer__copy {
  color: #c8c8c8;
  font-size: 0.75rem;
  opacity: 0.5;
}

.btn {
  display: block;
  width: 13.75rem;
  margin-top: 1.875rem;
  padding: 1.875rem;
  background-color: #333;
  color: #fff;
  text-align: center;
  font-size: 0.75rem;
  line-height: 1;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.btn::after {
  content: "→";
  padding-left: 15px;
}

.pickup {
  margin-bottom: 7.5rem;
}
.pickup__inner {
  max-width: 1170px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 400fr 770fr;
}
.pickup__info {
  display: flex;
  flex-direction: column;
}
.pickup__title {
  margin-bottom: 3.75rem;
  color: #BDBDBD;
  font-size: 4rem;
  font-weight: 300;
  line-height: 1;
  margin-top: auto;
  margin-bottom: 5.625rem;
  padding-right: 1.875rem;
}
.pickup__title span {
  display: block;
  color: #333;
  font-weight: bold;
}
.pickup__nav {
  position: relative;
  margin-bottom: 5.625rem;
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  -moz-column-gap: 5%;
       column-gap: 5%;
}
.pickup__nav::after {
  content: "";
  width: calc(95% - 6.25rem);
  display: block;
  border-bottom: 1px solid #F2F2F2;
  position: absolute;
  bottom: 50%;
  right: 0;
}
.pickup__nav button {
  width: 3.125rem;
  height: 3.125rem;
  border: 1px solid #F2F2F2;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.pickup__nav button:hover {
  background-color: #f9f9f9;
}
.pickup__number {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  color: #BDBDBD;
  font-size: 1.5rem;
  line-height: 1;
}
.pickup__number li:first-child::after {
  content: "";
  display: inline-block;
  width: 2.5rem;
  margin: 0 1.25rem;
  border-bottom: 2px solid;
  transform: translateY(-0.3em) rotate(-45deg);
}
.pickup__pic {
  position: relative;
  aspect-ratio: 770/830;
  background: url(../images/pic_main01.png) no-repeat center/cover;
}
.pickup__btn {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  color: #333;
}

.about {
  margin-bottom: 9.375rem;
}
.about__inner {
  max-width: 1170px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 1.875rem 4.375rem 1.875rem 6.25rem;
  background-color: #FBFBFB;
}
.about__container {
  display: grid;
  grid-template-columns: 570fr 400fr;
  align-items: start;
  container-type: inline-size;
  -moz-column-gap: 3%;
       column-gap: 3%;
}
.about__title {
  margin-bottom: 3.75rem;
  color: #BDBDBD;
  font-size: 4rem;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 1.25rem;
}
.about__images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3cqi;
}
.about__image--item01 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.about__image--item02 {
  grid-column: 1/2;
  grid-row: 2/3;
  margin-bottom: -3.75rem;
}
.about__image--item03 {
  grid-column: 2/3;
  grid-row: 1/3;
  margin-top: 1.875rem;
}
.about__text {
  font-weight: 300;
}
.about__btn {
  color: #333;
  background-color: #fff;
}

.mission {
  margin-bottom: 7.5rem;
}
.mission__inner {
  max-width: 1170px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.mission__title {
  margin-bottom: 3.75rem;
  color: #BDBDBD;
  font-size: 4rem;
  font-weight: 300;
  line-height: 1;
}
.mission__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 2.5641025641%;
       column-gap: 2.5641025641%;
  align-items: center;
}
.mission__contents {
  display: grid;
  grid-auto-flow: column;
  -moz-column-gap: 5.2631578947%;
       column-gap: 5.2631578947%;
  align-items: center;
}
.mission__number {
  color: #F2F2F2;
  font-size: 12.5rem;
  font-weight: 900;
  line-height: 1;
}
.mission__text {
  font-size: 1.375rem;
  line-height: 1.6363636364;
}

.projects {
  margin-bottom: 7.5rem;
}
.projects__inner {
  max-width: 1170px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.projects__title {
  margin-bottom: 3.75rem;
  color: #BDBDBD;
  font-size: 4rem;
  font-weight: 300;
  line-height: 1;
}
.projects__container {
  container-type: inline-size;
}
.projects__container--inner {
  display: grid;
  gap: 3cqi;
}
.projects__list {
  display: grid;
  -moz-column-gap: 3cqi;
       column-gap: 3cqi;
}
.projects__list--item01 {
  grid-template-columns: 1fr 1fr;
}
.projects__list--item02 {
  grid-template-columns: 270fr 470fr 370fr;
}
.projects__item {
  position: relative;
}
.projects__info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 14.0350877193%;
  background-color: rgba(51, 51, 51, 0.8);
  opacity: 0;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.projects__info--active, .projects__info:hover {
  opacity: 1;
}
.projects__name {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
}
.projects__link {
  display: block;
  margin-top: 0.9375rem;
  font-size: 0.75rem;
  line-height: 1;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.projects__link::after {
  content: "→";
  padding-left: 15px;
}
.projects__btn {
  margin-left: auto;
}

.contact {
  margin-bottom: 7.5rem;
}
.contact__inner {
  max-width: 1170px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.contact__title {
  margin-bottom: 3.75rem;
  color: #BDBDBD;
  font-size: 4rem;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 1.25rem;
}
.contact__pic {
  background: url(../images/pic_contact01.png) no-repeat center/cover;
}
.contact__form {
  display: grid;
  grid-template-columns: 390fr 750fr;
  -moz-column-gap: 2.5641025641%;
       column-gap: 2.5641025641%;
}
.contact__list {
  display: grid;
  row-gap: 0.625rem;
  color: #8d8d8d;
  font-size: 0.875rem;
  letter-spacing: 0.04em;
}
.contact__list input,
.contact__list textarea {
  width: 100%;
  padding: 0.9375rem 1.25rem;
  background-color: #f3f3f3;
  font-size: 0.875rem;
}
.contact__item {
  position: relative;
  display: block;
}
.contact__item:has(input:not(:-moz-placeholder-shown), textarea:not(:-moz-placeholder-shown)) .contact__label {
  display: none;
}
.contact__item:has(:focus) .contact__label, .contact__item:has(input:not(:placeholder-shown), textarea:not(:placeholder-shown)) .contact__label {
  display: none;
}
.contact__item:has(:required) .contact__label::after {
  content: "*";
  color: #C30000;
}
.contact__label {
  position: absolute;
  top: 0.9375rem;
  left: 1.25rem;
  pointer-events: none;
}
.contact__btn {
  margin-top: 4.8125rem;
}
/*# sourceMappingURL=style.css.map */