@charset "utf-8";

body {
    margin: 0;
    color: #151D41;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 2;
    letter-spacing: 0;
    background-color: #F2F2F2;
}

.wrapper {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}

dd {
    margin-left: 0;
}

a {
    color: #151D41;
    font-size: 14px;
    text-decoration: none;
}

h3 {
    padding-bottom: 20px;
    border-bottom: 3px dashed;
    margin-top: 0;
    font-size: 24px;
    line-height: 1.5;
}

.graphics {
    margin-bottom: 50px;
    padding: 40px;
    color: #fff;
    background-color: #27DEBF;
}

.development {
    padding: 40px;
    background-color: #fff;
}

.voice {
    text-align: center;
}

.voice dt {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.25;
}