@charset "utf-8";

@mixin inner($w: 88%, $mw: 1000px) {
  width: $w;
  max-width: $mw;
  margin-left: auto;
  margin-right: auto;
}

@mixin flex($a: center, $j: space-between) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $j;
  align-items: $a;
}

@mixin title-main() {
  width: fit-content;
  margin: 0 0 1em;
  border-bottom: 3px solid #ff0;
  font-size: (48/14) + rem;
  position: relative;
  z-index: 99;
}

html {
  font-size: (14/16) + em;
}

body {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.7;
  letter-spacing: 0.05em;
}

.header {
  height: 100vh;
  @include flex(center, center);
  flex-direction: column;

  &__inner {
    @include inner();
    text-align: center;
  }

  &__logo {
    width: 70%;
    margin: 0 auto 1em;

    img {
      width: 100%;
    }
  }

  &__lead {
    font-size: (24/14) + rem;
    font-weight: bold;
  }
}

.bg {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: url(../images/bg.svg) no-repeat center/cover;
}

.footer {
  &__inner {
    @include inner();
  }
}

.charm {
  padding: 6em 0;

  &__inner {
    @include inner();
  }

  &__item {
    @include flex();
    margin-bottom: 4em;
    padding: 3em;
    border: 3px solid #eee;
    background-color: #fff;

    &:nth-child(2n) {
      flex-direction: row-reverse;
    }
  }

  &__title {
    @include title-main();
  }

  &__pic {
    width: 40%;
    aspect-ratio: 16/9;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    width: 56%;

    dt {
      margin-bottom: 1em;
      font-size: (20/14) + rem;
      font-weight: bold;
    }
  }
}

.job {
  padding: 6em 0;

  &__inner {
    @include inner();
  }

  &__title {
    @include title-main();
  }

  &__list {
    @include flex(stretch, flex-start);
  }

  &__item {
    width: 29%;
    margin: 2%;
    padding: 2rem;
    background-color: #eee;

    dt {
      margin-bottom: 1em;
      font-size: (18/14) + rem;
      font-weight: bold;
    }
  }
}

.schedule {
  padding: 6em 0;

  &__inner {
    @include inner();
  }

  &__title {
    @include title-main();
  }
}

.data {
  padding: 6em 0;

  &__inner {
    @include inner();
  }

  &__title {
    @include title-main();
  }
}
