@charset "utf-8";

body {
  color: #333;
  line-height: 1.7;
  letter-spacing: 0.1em;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

ul {
  padding-left: 0;
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;

  &:hover {
    color: rgb(153, 51, 51);
  }
}

.inner {
  width: 88%;
  max-width: 800px;
  margin: auto;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2em 0 6em;
}

.gnav {
  &__list {
    display: flex;
  }

  &__item {
    margin-left: 2em;
    font-size: 14px;
  }

  &__link {
    font-weight: bold;
    text-decoration: none;
  }
}

.works {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -3em;
  }

  &__item {
    width: 48%;
    margin-bottom: 3em;
  }

  &__title {
    margin-top: 1em;
    font-size: 16px;
    text-align: center;
  }
}

.about {
  margin-top: 6em;
  padding-top: 6em;
  border-top: 1px solid #ddd;
  text-align: center;

  &__inner {
    padding: 3em;
    background-color: #f4f0dc;
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: left;
  }

  &__pic {
    width: 30%;
    margin-right: 3em;
  }

  &__name {
    margin: 2em 0 1em;
    font-size: 18px;
    font-weight: bold;
  }
}

.btn {
  display: inline-block;
  margin-top: 4em;
  padding: .5em 1em;
  border-radius: 10px;
  background-color: rgb(153, 51, 51);
  color: #fff;
}

.footer {
  padding: 3em 0;
  text-align: center;
}

.single {
  &__title {
    margin-bottom: 2em;
    font-size: 24px;
    text-align: center;
  }

  &__pic {
    margin-bottom: 2em;
  }
}

.pagenav {
  margin-top: 6em;
  padding-top: 3em;
  border-top: 1px solid #ddd;

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item {
    margin: 0 2em;
  }
}
