body {
  color: #888;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.7142857143;
  letter-spacing: 0.05em;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/* header*/
.header {
  padding: 30px 0 60px;
  text-align: center;
}
.header__inner {
  max-width: 800px;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}

/* footer */
.footer {
  padding: 100px 0 40px;
  background-color: #202124;
  color: #BBB;
}
.footer__inner {
  max-width: 800px;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}
.footer__copy {
  font-size: 12px;
}

/* post */
.post__category {
  margin-bottom: 10px;
  color: #FA6980;
  font-size: 12px;
  font-style: oblique;
  text-transform: uppercase;
}
.post__title {
  margin-bottom: 15px;
  color: #202124;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2777777778;
}
.post__title--border {
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

/* card */
.card {
  background-color: #fff;
}
.card__body {
  padding: 35px;
}
.card__title {
  margin-bottom: 15px;
  color: #202124;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2777777778;
}
.card__title:last-child {
  margin-bottom: 0;
}

/* btn */
.btn {
  display: block;
  width: 160px;
  margin-top: 25px;
  margin-left: auto;
  padding: 14px;
  background-color: #FA6980;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.btn--info {
  background-color: #202124;
}

/* time */
.time {
  margin-top: 20px;
  padding-left: 26px;
  color: #BBB;
  font-size: 12px;
  background: url(../images/icon_time.png) no-repeat left center;
}

/* index.html
---------------------------*/
/* news */
.news {
  padding-bottom: 60px;
}
.news__inner {
  max-width: 800px;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}
.news__title {
  margin-bottom: 30px;
  padding-left: 10px;
  border-left: 10px solid #FA6980;
  color: #202124;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2916666667;
  text-transform: uppercase;
}
.news__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px 5%;
}

/* trending */
.trending {
  padding: 60px 0;
  background-color: #F6F6F6;
}
.trending__inner {
  max-width: 800px;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}
.trending__title {
  margin-bottom: 30px;
  padding-left: 10px;
  border-left: 10px solid #FA6980;
  color: #202124;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2916666667;
  text-transform: uppercase;
}
.trending__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 5%;
       column-gap: 5%;
}

/* about.html
---------------------------*/
.blog {
  padding: 0 0 60px;
}
.blog__inner {
  max-width: 800px;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}
.blog__item {
  margin-bottom: 40px;
}
.blog__item:last-child {
  margin-bottom: 0;
}

/* discovery */
.discovery {
  padding: 60px 0;
  background-color: #F6F6F6;
}
.discovery__inner {
  max-width: 800px;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}
.discovery__title {
  margin-bottom: 30px;
  padding-left: 10px;
  border-left: 10px solid #FA6980;
  color: #202124;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2916666667;
  text-transform: uppercase;
}
.discovery__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 5%;
       column-gap: 5%;
}
/*# sourceMappingURL=style.css.map */