@charset "utf-8";

body {
    color: #1E1E1E;
    font-size: 14px;
    font-family: "Times New Roman", "Hiragino Mincho ProN", "Yu Mincho", serif;
    line-height: 1.7;
    letter-spacing: 0.05em;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

::selection {
    background-color: #1E1E1E;
    color: #fff;
}

.inner {
    width: 86.5%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.1em;
}

h2 {
    margin-bottom: 50px;
    color: #000;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
}

h2::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 auto 25px;
    background-color: #72C9F3;
}

h2::after {
    content: "";
    display: block;
    width: 80px;
    margin: 20px auto 0;
    border-bottom: 1px solid #1E1E1E;
}

.information h2::before {
    background-color: #9FF372;
}

/* header */
header {
    padding: 40px 0;
    text-align: center;
}

/* footer */
footer {
    padding: 50px 0 100px;
    background-color: #1E1E1E;
    color: #fff;
    text-align: center;
}

footer small {
    font-size: 12px;
}

/* main */
.message {
    width: 86.5%;
    margin: 0 auto 100px;
    padding: 240px 0 80px;
    background: url(./images/bg_main.png) no-repeat center/cover;
}

.message dl {
    max-width: 343px;
    padding: 40px;
    background-color: #fff;
}

.message dt {
    margin-bottom: 30px;
    padding-left: 7px;
    font-size: 18px;
    font-weight: normal;
}

.message dd {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.4;
}

.discussion {
    margin-bottom: 100px;
}

.discussion .posts {
    display: grid;
    row-gap: 80px;
}

.discussion .pic {
    position: relative;
    margin-bottom: 20px;
}

.discussion .pic::before {
    display: inline-block;
    padding: 6px 10px;
    background-color: #fff;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    position: absolute;
    top: 15px;
    left: 15px;
}

.discussion .new::before {
    content: "new";
}

.discussion .tag {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 10px;
    margin-top: 20px;
}

.tag a {
    display: inline-block;
    padding: 6px 10px;
    background-color: #F5F5F5;
    font-size: 12px;
    line-height: 1;
}

.tag a:hover {
    background-color: #1E1E1E;
    color: #fff;
}

.information {
    margin-bottom: 100px;
}

.information dl {
    max-width: 400px;
    margin: auto;
}

.information .item {
    display: grid;
    grid-template-columns: 50px 1fr;
    column-gap: 42px;
    padding: 20px 30px;
    background-color: #fff;
}

.information .item:nth-of-type(2n+1) {
    background-color: #F5F5F5;
}

@media (740px < width) {
    .message {
        width: 100%;
    }

    .discussion .posts {
        grid-template-columns: 1fr 1fr;
        column-gap: 60px;
    }
}