@charset "UTF-8";
/* ==========================================================================
  Foundation
========================================================================== */ /* color */
/* media query */
html {
  font-size: 62.5%;
}

body {
  color: #333;
  font-size: 1.5rem;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", HelveticaNeue, "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "Sogoe UI", Verdana, "メイリオ", Meiryo, sans-serif;
  line-height: 1.8;
  letter-spacing: 0.02em;
  word-wrap: break-word;
}

b,
strong,
em {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", HelveticaNeue, "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "Sogoe UI", Verdana, "メイリオ", Meiryo, sans-serif;
}

em {
  color: #c06;
  font-weight: bold;
  font-style: normal;
}

strong {
  padding: 0.3em 0.2em;
  background-color: #ff9;
}

a {
  color: #09c;
}

a:hover {
  color: #fff;
  background-color: #09c;
  text-decoration: none;
}

a[href$=".pdf"]:before,
a[href$=".zip"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  content: "\f0f6";
  padding: 0 0.2em 0 0;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

::-moz-selection {
  background: #ddd;
  color: #333;
}

::selection {
  background: #ddd;
  color: #333;
}

#pagetop {
  position: fixed;
  right: 25px;
  bottom: 25px;
  width: 45px;
  height: 45px;
  border: 1px solid #09c;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.7;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-90deg);
  transition: all 0.2s;
}

#pagetop::after {
  content: "＞";
  transform: scaleX(0.5);
  color: #09c;
  font-weight: bold;
}

[data-show=on] {
  display: block;
}

[data-show=off] {
  display: none;
}

/* ==========================================================================
  Layout
========================================================================== */
.l-header {
  width: 92%;
  max-width: 1366px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1em;
  padding-left: 1em;
  margin-top: 3em;
  margin-bottom: 2em;
}
.l-header__inner {
  display: flex;
  align-items: center;
}
.l-header__title {
  font-size: 2.4rem;
  font-weight: bold;
}
.l-header__title-sub {
  margin: 2em 0 4em;
  font-size: 1.8rem;
  font-weight: normal;
}
.l-header__link {
  color: #333;
  text-decoration: none;
}
.l-header__link::before {
  display: inline-block;
  content: "\f0a8";
  padding-right: 0.2em;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
}
.l-header__nav {
  margin-left: 1em;
}
.l-header__nav button {
  display: inline-block;
  margin-left: 0.5em;
  padding: 0.2em 1em;
  border: 1px solid #333;
  border-radius: 15px;
  background-color: #fff;
  color: #333;
  font-weight: bold;
}
.l-header__nav button:hover {
  color: #fff;
  background-color: #333;
}
.l-header__nav .active {
  color: #fff;
  background-color: #333;
}

.l-footer {
  width: 92%;
  max-width: 1366px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1em;
  padding-left: 1em;
  margin-top: 1em;
  margin-bottom: 3em;
  text-align: right;
}

/* ==========================================================================
  Object

  term - 学期
  subject - 科目
  part - 部
  chapter - 章
  section - 節
  item - 項
========================================================================== */
.term {
  width: 92%;
  max-width: 1366px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1em;
  padding-left: 1em;
  margin-bottom: 8em;
}
.term__title {
  margin: 0 0 0.5em;
  padding: 0 0 0.5em;
  border-bottom: 1px solid #bbb;
  font-size: 2.4rem;
}
.term__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  justify-content: flex-start;
  margin-bottom: 3em;
}
.term button {
  margin-right: 0.5em;
  padding: 0.1em 0.8em;
  border: 1px solid;
  border-radius: 10px;
}

.semester {
  display: inline-block;
  margin: 1em 0;
  padding: 0.2em 1em;
  border-radius: 10px;
  background-color: #ddd;
  font-weight: bold;
}

.subject {
  width: 25%;
  margin: 1em 0;
  padding: 0 2em 0 0;
}
@media screen and (max-width: 992px) {
  .subject {
    width: 33.3%;
  }
}
@media screen and (max-width: 768px) {
  .subject {
    width: 50%;
  }
}
@media screen and (max-width: 544px) {
  .subject {
    width: 100%;
    padding: 0;
  }
}
.subject__title {
  margin: 0 0 0.2em;
  font-size: 1.5rem;
}
.subject__homework {
  font-size: 1.2rem;
}
.subject__homework::before {
  content: "-";
  display: block;
}

.chapter {
  width: 92%;
  max-width: 1366px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1em;
  padding-left: 1em;
  margin-bottom: 16em;
}
.chapter__title {
  margin: 0 0 2em;
  padding: 0 0 0.5em;
  font-size: 3.2rem;
  font-weight: bold;
  border-bottom: 2px solid #333;
}

.clause {
  margin-bottom: 12em;
}
.clause__title {
  margin-bottom: 1em;
  font-size: 2.4rem;
  font-weight: bold;
}
.clause__title::after {
  content: "―";
  display: block;
  font-weight: normal;
}
.clause p,
.clause ul,
.clause ol,
.clause dl {
  margin-bottom: 5em;
}
.clause dt {
  margin-bottom: 1em;
  font-size: 1.6rem;
  font-weight: bold;
}
.clause img {
  margin: 0.5em 0;
  padding: 1em;
  border: 1px solid #333;
}
.clause__list {
  list-style-type: "- ";
  list-style-position: inside;
}
.clause ol {
  padding-left: 1.5em;
  list-style-type: decimal;
}
.clause li {
  margin-bottom: 0.2em;
}
.clause li img,
.clause li pre,
.clause dd img,
.clause dd pre {
  display: block;
  margin: 1.5em 0 3em;
}
.clause table {
  width: 100%;
  border-top: 1px solid #bbb;
  border-collapse: collapse;
  border-spacing: 0;
}
.clause thead {
  background-color: #ccc;
  color: #fff;
  font-weight: bold;
}
.clause tr {
  border-left: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  vertical-align: middle;
}
.clause th {
  padding: 10px;
  border-right: 1px solid #bbb;
  text-align: left;
  vertical-align: middle;
  background-color: #ffdb4f;
}
.clause td {
  padding: 10px;
  border-right: 1px solid #bbb;
  vertical-align: middle;
}
.clause__iframe {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.clause__iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.item {
  margin-bottom: 8em;
}

.hide {
  color: #fff;
}

.quote {
  display: block;
  text-align: right;
  font-size: 13px;
  font-style: oblique;
}
/*# sourceMappingURL=common.css.map */