@charset "utf-8";

body {
    color: #676767;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    letter-spacing: 0;
}

img {
    vertical-align: middle;
}

.inner {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

header {
    padding: 40px 0;
}

header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.global ul {
    display: flex;
}

.global li {
    margin-left: 30px;
}

.global a {
    color: #0864B1;
    font-size: 16px;
    font-weight: bold;
}

footer {
    min-width: 800px;
    padding: 60px 0;
    color: #fff;
    text-align: center;
    background-color: #0864B1;
}

footer ul {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

footer li {
    margin: 0 5px;
}

footer small {
    font-size: 12px;
}

.news .posts {
    display: flex;
    flex-wrap: wrap;
    /* 横並びにした要素の幅を決めて折り返したい時に指定する */
    justify-content: space-between;
}

.posts article {
    width: 380px;
    margin-bottom: 60px;
}